<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/404.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found | Morsy</title>
</head>
<body>
    <svg class="page-not-found" width="462" height="537" viewBox="0 0 462 537" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M143.139 333.901C143.139 368.136 81.3292 460.876 81.3292 460.876C81.3292 460.876 19.519 368.136 19.519 333.901C19.519 299.666 47.1924 271.913 81.3292 271.913C115.466 271.913 143.139 299.666 143.139 333.901Z" fill="#695CBC"/>
        <path d="M123.713 314.783C123.713 338.46 81.3289 382.289 81.3289 382.289C81.3289 382.289 38.9448 338.46 38.9448 314.783C38.9448 291.107 57.9208 271.913 81.3289 271.913C104.737 271.913 123.713 291.107 123.713 314.783Z" fill="#9688ED"/>
        <path d="M461.02 333.901C461.02 368.136 399.21 460.876 399.21 460.876C399.21 460.876 337.4 368.136 337.4 333.901C337.4 299.666 365.073 271.913 399.21 271.913C433.347 271.913 461.02 299.666 461.02 333.901Z" fill="#695CBC"/>
        <path d="M441.501 322.816C441.501 350.928 399.21 402.969 399.21 402.969C399.21 402.969 356.919 350.928 356.919 322.816C356.919 294.703 375.853 271.913 399.21 271.913C422.567 271.913 441.501 294.703 441.501 322.816Z" fill="#9688ED"/>
        <path d="M318.81 363.245C318.81 410.093 234.228 537 234.228 537C234.228 537 149.646 410.093 149.646 363.245C149.646 316.397 187.514 278.42 234.228 278.42C280.941 278.42 318.81 316.397 318.81 363.245Z" fill="#695CBC"/>
        <path d="M291.855 349.178C291.855 388.256 234.228 460.597 234.228 460.597C234.228 460.597 176.6 388.256 176.6 349.178C176.6 310.099 202.401 278.42 234.228 278.42C266.054 278.42 291.855 310.099 291.855 349.178Z" fill="#9688ED"/>
        <path d="M152.188 171.938V200.629H19.0137L17.2363 178.412L94.2969 56.1562H123.369L91.8848 108.842L53.5449 171.938H152.188ZM131.24 56.1562V241H94.6777V56.1562H131.24ZM296.406 132.328V164.32C296.406 178.201 294.925 190.176 291.963 200.248C289.001 210.235 284.727 218.445 279.141 224.877C273.639 231.225 267.08 235.922 259.463 238.969C251.846 242.016 243.382 243.539 234.072 243.539C226.624 243.539 219.684 242.608 213.252 240.746C206.82 238.799 201.022 235.795 195.859 231.732C190.781 227.67 186.38 222.549 182.656 216.371C179.017 210.108 176.224 202.66 174.277 194.027C172.331 185.395 171.357 175.492 171.357 164.32V132.328C171.357 118.448 172.839 106.557 175.801 96.6543C178.848 86.6673 183.122 78.5 188.623 72.1523C194.209 65.8047 200.811 61.1497 208.428 58.1875C216.045 55.1406 224.508 53.6172 233.818 53.6172C241.266 53.6172 248.164 54.5905 254.512 56.5371C260.944 58.3991 266.742 61.319 271.904 65.2969C277.067 69.2747 281.468 74.3952 285.107 80.6582C288.747 86.8366 291.54 94.2422 293.486 102.875C295.433 111.423 296.406 121.241 296.406 132.328ZM259.717 169.145V127.377C259.717 120.691 259.336 114.851 258.574 109.857C257.897 104.864 256.839 100.632 255.4 97.1621C253.962 93.6074 252.184 90.7298 250.068 88.5293C247.952 86.3288 245.54 84.7207 242.832 83.7051C240.124 82.6895 237.119 82.1816 233.818 82.1816C229.671 82.1816 225.99 82.9857 222.773 84.5938C219.642 86.2018 216.976 88.7832 214.775 92.3379C212.575 95.8079 210.882 100.463 209.697 106.303C208.597 112.058 208.047 119.083 208.047 127.377V169.145C208.047 175.831 208.385 181.713 209.062 186.791C209.824 191.869 210.924 196.228 212.363 199.867C213.887 203.422 215.664 206.342 217.695 208.627C219.811 210.827 222.223 212.436 224.932 213.451C227.725 214.467 230.771 214.975 234.072 214.975C238.135 214.975 241.732 214.171 244.863 212.562C248.079 210.87 250.788 208.246 252.988 204.691C255.273 201.052 256.966 196.312 258.066 190.473C259.167 184.633 259.717 177.523 259.717 169.145ZM450.781 171.938V200.629H317.607L315.83 178.412L392.891 56.1562H421.963L390.479 108.842L352.139 171.938H450.781ZM429.834 56.1562V241H393.271V56.1562H429.834Z" fill="white"/>
        <rect y="252.394" width="461.02" height="38.1085" fill="white"/>
    </svg>
        
</body>
</html>