<!--
Copyright 2021,2022 Carl Marino and Itay Godasevich 


This file is part of Morsy.

Morsy is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.

Morsy is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Morsy. If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="Morsy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://morsy.cc" />
    <meta property="og:image" content="https://morsy.cc/media/morsy-full.png" />
    <meta property="og:description" content="The private, open-source, and decentralized messenger for you and your friends" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The private, open-source, and decentralized messenger for you and your friends">
    <meta name="keywords" content="Morsy, Decentralized, Messanger, Private, Message, Texting, Open-Source, Open, Source">
    <title>Morsy</title>
  </head>
  <body>
	<div class="menu-bar">
		<div class="menu-text">
			<a href="/create/"><p> Create Room </p></a>
			<a href="/about/"><p> About us</p></a>
			<a href="https://github.com/MorsyApp/Morsy"><p>Github</p></a> 
		</div>
		<img class="logo" src="/media/morsy-full.svg"/>	
	</div>

  	<div class="main-container">
		<div class="main-text">
			<h1>No Trust</h1>
			<p> Morsy is a messenger with the aim to avoid the need for trust. Morsy achieves this to a great extent by being peer to peer which ensures that the messages never pass through our servers. </p>
			<a href="/create/" class="create-room-btn">Create Room</a>
		</div>	
		<img src="/media/phone-light.svg" class="phone-svg"/>
	</div>
	<div class="p2p-container">
		<div class="main-text">
			<h1>Peer to Peer</h1>
			<p>Morsy uses peer to peer technology as its backend this means that all messages directly go from your device to the recipients device without passing through any of our servers. This ensures that even with subpoena from a government agency we wouldnt be able to hand over any of your messages.</p>
		</div>
		<img src="/media/p2p-icon.svg" class="p2p-icon"/>
	</div>	
	<div class="oss-container">
		<div class="main-text">
			<h1>Open Source</h1>
			<p>Morsy is open-source which means the source is availible for everyone to see. Morsy is also licensed under the GNU GPL license which means that anyone can see, view, modify, and redistribute Morsy’s code without having to ask for permission.</p>
		</div>
		<img src="/media/oss-icon.svg" class="oss-icon"/>
	</div>			
		
 </body>
</html>
