<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morsy</title>
</head>
<body>

    <svg class="morsy-logo" viewBox="0 0 603 181" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.956177" y="0.833435" width="179.863" height="179.863" rx="25" fill="#695CBC"/>
        <path d="M164.032 163.109L149.643 113.547L113.67 147.122L164.032 163.109Z" fill="white"/>
        <circle cx="90.8874" cy="90.7647" r="66.749" fill="white"/>
        <rect x="43.124" y="84.9692" width="36.7719" height="11.5911" fill="#695CBC"/>
        <rect x="101.879" y="84.9692" width="36.7719" height="11.5911" fill="#695CBC"/>
        <path d="M273.732 53.8201L297.089 119.77L320.322 53.8201H344.928V144.751H326.13V119.895L328.003 76.9899L303.459 144.751H290.594L266.113 77.0524L267.987 119.895V144.751H249.251V53.8201H273.732Z" fill="white"/>
        <path d="M357.293 110.339C357.293 103.636 358.584 97.6616 361.165 92.4156C363.747 87.1697 367.452 83.1103 372.282 80.2374C377.153 77.3646 382.795 75.9282 389.206 75.9282C398.324 75.9282 405.756 78.7178 411.502 84.2968C417.289 89.8759 420.516 97.4535 421.182 107.029L421.307 111.651C421.307 122.018 418.413 130.345 412.626 136.632C406.839 142.877 399.074 146 389.331 146C379.589 146 371.803 142.877 365.974 136.632C360.187 130.387 357.293 121.893 357.293 111.151V110.339ZM375.342 111.651C375.342 118.063 376.549 122.976 378.964 126.39C381.379 129.762 384.835 131.448 389.331 131.448C393.703 131.448 397.117 129.783 399.574 126.452C402.03 123.08 403.258 117.709 403.258 110.339C403.258 104.053 402.03 99.1813 399.574 95.7256C397.117 92.2699 393.661 90.5421 389.206 90.5421C384.793 90.5421 381.379 92.2699 378.964 95.7256C376.549 99.1397 375.342 104.448 375.342 111.651Z" fill="white"/>
        <path d="M470.394 94.1019C467.938 93.7688 465.773 93.6022 463.899 93.6022C457.071 93.6022 452.596 95.913 450.472 100.534V144.751H432.423V77.1773H449.473L449.973 85.2336C453.595 79.03 458.612 75.9282 465.024 75.9282C467.022 75.9282 468.896 76.1989 470.644 76.7401L470.394 94.1019Z" fill="white"/>
        <path d="M515.735 126.077C515.735 123.871 514.631 122.143 512.425 120.894C510.26 119.603 506.762 118.458 501.933 117.459C485.862 114.087 477.826 107.258 477.826 96.9747C477.826 90.9792 480.304 85.9831 485.258 81.9861C490.254 77.9475 496.77 75.9282 504.806 75.9282C513.382 75.9282 520.231 77.9475 525.352 81.9861C530.515 86.0247 533.097 91.2707 533.097 97.7241H515.048C515.048 95.1427 514.215 93.0193 512.55 91.354C510.884 89.6469 508.282 88.7934 504.743 88.7934C501.704 88.7934 499.351 89.4804 497.686 90.8543C496.021 92.2283 495.188 93.977 495.188 96.1003C495.188 98.0988 496.125 99.7226 497.998 100.972C499.914 102.179 503.119 103.241 507.616 104.157C512.113 105.031 515.901 106.03 518.982 107.154C528.517 110.652 533.284 116.71 533.284 125.328C533.284 131.49 530.64 136.486 525.352 140.317C520.065 144.105 513.237 146 504.868 146C499.206 146 494.168 145 489.755 143.002C485.383 140.962 481.948 138.193 479.45 134.696C476.952 131.157 475.703 127.347 475.703 123.267H492.815C492.981 126.473 494.168 128.929 496.375 130.636C498.581 132.343 501.537 133.197 505.243 133.197C508.699 133.197 511.301 132.552 513.049 131.261C514.84 129.929 515.735 128.201 515.735 126.077Z" fill="white"/>
        <path d="M570.193 119.208L582.684 77.1773H602.044L574.877 155.243L573.378 158.802C569.34 167.629 562.678 172.042 553.394 172.042C550.771 172.042 548.106 171.647 545.4 170.856V157.179L548.148 157.241C551.562 157.241 554.101 156.721 555.767 155.68C557.474 154.639 558.806 152.911 559.764 150.496L561.887 144.938L538.218 77.1773H557.64L570.193 119.208Z" fill="white"/>
    </svg>
    <h1 class="logo-txt">Decentralized, Private, Open-Source</h1>

    <a href="/create/" class="create-room">Create Room</a>
    <a href="https://github.com/MorsyApp/Morsy" class="github">View Source</a>
    
</body>
</html>