<!--
Copyright 2021,2022 Carl Marino and Itay Godasevich 


This file is part of Morsy.

Morsy is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.

Morsy is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Morsy. If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="Content-Security-Policy"
      content="default-src 'self' unpkg.com"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat | Morsy</title>
    <script
      src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"
      defer
    ></script>
    
    <script>
      const ROOM_ID = "<%= roomId  %>"
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/emoji-handler.js"></script>
    <script src="/js/script.js" defer></script>
    <script src="/js/btn-handler.js" defer></script>
    <script src="/js/verbose-func.js" defer></script>
    <script src="/js/msg-handler.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="top-bar">
      <a class="invite-btn">Invite</a>  
      <a href="/create/" target="_blank" class="create-btn">Create</a> 
      <a class="settings-btn"><svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.21102 8.83824C4.01541 8.68237 4.63483 8.07381 4.98879 7.46159C5.35443 6.82917 5.50477 6.01194 5.24419 5.1995C5.04717 4.58525 5.1479 3.88799 5.6283 3.45749C6.82286 2.387 8.23132 1.55035 9.78169 1.01955C10.4485 0.791242 11.1587 1.11627 11.5843 1.67814C12.11 2.37218 12.8726 2.69056 13.5813 2.69138C14.3271 2.69224 15.2069 2.29201 15.7956 1.57565C16.2194 1.05987 16.8955 0.775193 17.5289 0.985892C19.0925 1.50593 20.5143 2.33617 21.7216 3.40363C22.2277 3.85119 22.316 4.58906 22.0798 5.22209C21.7761 6.03598 21.8458 6.83823 22.2049 7.46159C22.5667 8.08959 23.3175 8.6917 24.1798 8.83808C24.8438 8.95079 25.436 9.3953 25.5699 10.0553C25.7287 10.8376 25.8121 11.6474 25.8121 12.4766C25.8121 13.3343 25.7229 14.1712 25.5532 14.9785C25.4246 15.5906 24.8981 16.0205 24.2933 16.18C23.525 16.3826 22.8392 16.926 22.4796 17.5486C22.1224 18.1671 21.9938 19.0159 22.2049 19.7736C22.3741 20.3808 22.2682 21.0583 21.7996 21.4799C20.572 22.5842 19.1174 23.4411 17.5143 23.9721C16.9009 24.1752 16.2446 23.9144 15.8154 23.4315C15.218 22.7592 14.3258 22.5681 13.5813 22.5673C12.8788 22.5665 12.1353 22.6626 11.6187 23.3118C11.1861 23.8554 10.4863 24.1717 9.82815 23.9493C8.37825 23.4596 7.05138 22.7026 5.90612 21.7371C5.28939 21.2172 5.28198 20.2989 5.66059 19.5867C6.06475 18.8263 5.6386 17.9462 5.24419 17.1511C4.81244 16.2807 4.44512 15.9366 3.51455 15.9045C2.71307 15.8768 1.92909 15.4119 1.78789 14.6224C1.66331 13.926 1.5983 13.2089 1.5983 12.4766C1.5983 11.65 1.68113 10.8427 1.83896 10.0627C1.97137 9.40823 2.5555 8.96526 3.21102 8.83824Z" stroke-width="1.2"/>
        <path d="M19.6685 12.4765C19.6685 15.77 16.9986 18.4399 13.7052 18.4399C10.4117 18.4399 7.74185 15.77 7.74185 12.4765C7.74185 9.18308 10.4117 6.5132 13.7052 6.5132C16.9986 6.5132 19.6685 9.18308 19.6685 12.4765Z" stroke-width="1.2"/>
        </svg>
        </a>

      
    </div>


    <div class="settings-container">
      <h1>Name</h1>
      <div class="username">
        <input type="text" class="username-inp" value="Unnamed User" disabled="true" minlength="4" maxlength="20">
        <a class="edit-name-btn">Edit</a>
      </div>
      <h1>Appearance</h1>
      <div class="colormode">
        <svg id="dark" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="18.6335" cy="18.7071" r="16.9695" stroke="white" stroke-width="3"/>
          <circle cx="18.6335" cy="18.7071" r="8.70701" fill="#695CBC"/>
        </svg> <a>Dark</a> <svg  id="light" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="18.6335" cy="18.7071" r="16.9695" stroke="white" stroke-width="3"/>
          <circle cx="18.6335" cy="18.7071" r="8.70701" fill="#695CBC"/>
          </svg><a>Light</a><svg  id="default" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18.6335" cy="18.7071" r="16.9695" stroke="white" stroke-width="3"/>
            <circle cx="18.6335" cy="18.7071" r="8.70701" fill="#695CBC"/>
            </svg><a>System Default</a>
      </div>
      <h1>Typing Indicator</h1>
      <div class="typing-switch switch">
        <a class="typing-indicator-on">ON</a> <a class="typing-indicator-off">OFF</a>
      </div>
      <h1>Recieve Images</h1>
      <div class="image-switch switch">
        <a class="images-on">ON</a> <a class="images-off">OFF</a>
      </div>
      <svg class="settings-close-btn" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.000244141" y="3.83871" width="5.41189" height="35.5834" rx="2.70595" transform="rotate(-45 0.000244141 3.83871)" fill="#695CBC"/>
        <rect x="25.1614" width="5.1" height="35.5834" rx="2.55" transform="rotate(45 25.1614 0)" fill="#695CBC"/>
        </svg>
      </div>

    <div class="invite-popup">
      <svg class="invite-close-btn" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.000244141" y="3.83871" width="5.41189" height="35.5834" rx="2.70595" transform="rotate(-45 0.000244141 3.83871)" fill="#695CBC"/>
        <rect x="25.1614" width="5.1" height="35.5834" rx="2.55" transform="rotate(45 25.1614 0)" fill="#695CBC"/>
        </svg>
        
      <h1>Invite Link</h1>
      <div class="invite-link-container">
        <input type="text" readonly="readonly" class="invite-link-box"><div class="copy-invite-btn">
          <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="7.5" y="0.5" width="21" height="21" rx="4.5" stroke="white"/>
            <rect x="0.5" y="4.5" width="21" height="21" rx="4.5" fill="#695CBC" stroke="white"/>
            </svg>
            
        </div>
      </div>
        
    </div>

    <div class="message-view">
      
      <div class="inp-container">
        <input type="text" minlength="1" maxlength="400" class="message-box" tabindex="1"/>
        <div class="send-container">
          <svg
            class="send-btn"
            width="30"
            height="26"
            viewBox="0 0 30 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.9943 11.1196C29.585 11.821 29.585 14.0781 27.9943 14.7795L3.78067 25.457C1.95917 26.2602 0.2104 24.1989 1.29968 22.5326L6.8489 14.0439C7.28352 13.3791 7.28352 12.52 6.8489 11.8552L1.29968 3.36648C0.2104 1.7002 1.95918 -0.361066 3.78068 0.442158L27.9943 11.1196Z"
              fill="#FFFFFF"
            />
          </svg>
          
            
        </div>
        <svg class="file-btn" width="22" height="33" viewBox="0 0 22 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.48139 13.634L6.47921 19.6381C6.47921 19.6381 5.37802 22.9403 8.20661 23.5499C11.0352 24.1596 11.9362 21.4578 11.9362 21.4578L16.2409 8.54921C16.2409 8.54921 18.1429 2.8454 13.7092 1.36684C9.27536 -0.111711 7.71434 5.70583 7.71434 5.70583L2.30846 21.9166C2.30846 21.9166 -0.3351 28.7075 5.46294 30.641C11.261 32.5745 13.9046 25.7836 13.9046 25.7836L18.2092 12.875" stroke="white" stroke-width="2"/>
            
          </svg>
         
            
          <input class="file-input" type="file" name="name" style="display: none"/>
          
        
      </div>

      <div class="message-container">

          <h3 class="is-typing-msg"></h3>      
      </div>
    </div>
  </body>
</html>
