<!--
Copyright 2021,2022 Carl Marino and Itay Godasevich 


This file is part of Morsy.

Morsy is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.

Morsy is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Morsy. If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="Content-Security-Policy"
      content="default-src 'self' unpkg.com"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat | Morsy</title>
    <script
      src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"
      defer
    ></script>
    
    <script>
      const ROOM_ID = "<%= roomId  %>"
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/emoji-handler.js"></script>
    <script src="/js/script.js" defer></script>
    <script src="/js/btn-handler.js" defer></script>
    <script src="/js/verbose-func.js" defer></script>
    <script src="/js/msg-handler.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="top-bar">
      <a class="invite-btn">Invite</a>  
      <a href="/create/" target="_blank" class="create-btn">Create</a> 
      <a class="settings-btn">Settings</a>
    </div>


    <div class="settings-container">
      <h1>Name</h1>
      <div class="username">
        <input type="text" class="username-inp" value="Unnamed User" disabled="true" minlength="4" maxlength="20">
        <a class="edit-name-btn">Edit</a>
      </div>
      <h1>Appearance</h1>
      <div class="colormode">
        <svg id="dark" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="18.6335" cy="18.7071" r="16.9695" stroke="white" stroke-width="3"/>
          <circle cx="18.6335" cy="18.7071" r="8.70701" fill="#695CBC"/>
        </svg> <a>Dark</a> <svg  id="light" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="18.6335" cy="18.7071" r="16.9695" stroke="white" stroke-width="3"/>
          <circle cx="18.6335" cy="18.7071" r="8.70701" fill="#695CBC"/>
          </svg><a>Light</a><svg  id="default" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18.6335" cy="18.7071" r="16.9695" stroke="white" stroke-width="3"/>
            <circle cx="18.6335" cy="18.7071" r="8.70701" fill="#695CBC"/>
            </svg><a>System Default</a>
      </div>
      <h1>Typing Indicator</h1>
      <div class="typing-switch switch">
        <a class="typing-indicator-on">ON</a> <a class="typing-indicator-off">OFF</a>
      </div>
      <h1>Recieve Images</h1>
      <div class="image-switch switch">
        <a class="images-on">ON</a> <a class="images-off">OFF</a>
      </div>
      <h1>Emoji Help Message</h1>
      <h3 class="emoji-help-command"><code style="font-family: 'Courier New', Courier, monospace;">';;;possible'</code></h3>
      <h3 class="emoji-help-command-message">Use the above command in the chat to get a list of all possible emojis to send!</h3>
      <svg class="settings-close-btn" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.000244141" y="3.83871" width="5.41189" height="35.5834" rx="2.70595" transform="rotate(-45 0.000244141 3.83871)" fill="#695CBC"/>
        <rect x="25.1614" width="5.1" height="35.5834" rx="2.55" transform="rotate(45 25.1614 0)" fill="#695CBC"/>
        </svg>
      </div>

    <div class="invite-popup">
      <svg class="invite-close-btn" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.000244141" y="3.83871" width="5.41189" height="35.5834" rx="2.70595" transform="rotate(-45 0.000244141 3.83871)" fill="#695CBC"/>
        <rect x="25.1614" width="5.1" height="35.5834" rx="2.55" transform="rotate(45 25.1614 0)" fill="#695CBC"/>
        </svg>
        
      <h1>Invite Link</h1>
      <div class="invite-link-container">
        <input type="text" readonly="readonly" class="invite-link-box"><div class="copy-invite-btn">
          <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="7.5" y="0.5" width="21" height="21" rx="4.5" stroke="white"/>
            <rect x="0.5" y="4.5" width="21" height="21" rx="4.5" fill="#695CBC" stroke="white"/>
            </svg>
            
        </div>
      </div>
        
    </div>

    <div class="message-view">
      
      <div class="inp-container">
        <input type="text" minlength="1" maxlength="400" class="message-box" tabindex="1"/>
        <div class="send-container">
          <svg
            class="send-btn"
            width="30"
            height="26"
            viewBox="0 0 30 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.9943 11.1196C29.585 11.821 29.585 14.0781 27.9943 14.7795L3.78067 25.457C1.95917 26.2602 0.2104 24.1989 1.29968 22.5326L6.8489 14.0439C7.28352 13.3791 7.28352 12.52 6.8489 11.8552L1.29968 3.36648C0.2104 1.7002 1.95918 -0.361066 3.78068 0.442158L27.9943 11.1196Z"
              fill="#FFFFFF"
            />
          </svg>
          
            
        </div>
        <svg class="file-btn" width="22" height="33" viewBox="0 0 22 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.48139 13.634L6.47921 19.6381C6.47921 19.6381 5.37802 22.9403 8.20661 23.5499C11.0352 24.1596 11.9362 21.4578 11.9362 21.4578L16.2409 8.54921C16.2409 8.54921 18.1429 2.8454 13.7092 1.36684C9.27536 -0.111711 7.71434 5.70583 7.71434 5.70583L2.30846 21.9166C2.30846 21.9166 -0.3351 28.7075 5.46294 30.641C11.261 32.5745 13.9046 25.7836 13.9046 25.7836L18.2092 12.875" stroke="white" stroke-width="2"/>
            
          </svg>
         
            
          <input class="file-input" type="file" name="name" style="display: none"/>
          
        
      </div>

      <div class="message-container">

          <h3 class="is-typing-msg"></h3>      
      </div>
    </div>
  </body>
</html>
