<!--
Copyright 2021,2022 Carl Marino and Itay Godasevich 


This file is part of Morsy.

Morsy is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.

Morsy is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Morsy. If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="Content-Security-Policy"
      content="default-src 'self' unpkg.com"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat | Morsy</title>
    <script
      src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"
      defer
    ></script>
    <script>
      const ROOM_ID = "<%= roomId  %>"
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/script.js" defer></script>
    <script src="/js/btn-handler.js" defer></script>
    <script src="/js/verbose-func.js" defer></script>
    <script src="/js/msg-handler.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="top-bar">
      <svg class="logo" width="218" height="65" viewBox="0 0 218 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 8.31803C0 3.72411 3.72411 0 8.31802 0H56.682C61.2759 0 65 3.72411 65 8.31802V56.682C65 61.2759 61.2759 65 56.682 65H8.31803C3.72411 65 0 61.2759 0 56.682V8.31803Z" fill="#695CBC"/>
        <path d="M58.9333 58.6445L53.7333 40.7333L40.7333 52.8667L58.9333 58.6445Z" fill="white"/>
        <path d="M56.6222 32.5C56.6222 45.8223 45.8223 56.6222 32.5 56.6222C19.1777 56.6222 8.37776 45.8223 8.37776 32.5C8.37776 19.1777 19.1777 8.37778 32.5 8.37778C45.8223 8.37778 56.6222 19.1777 56.6222 32.5Z" fill="white"/>
        <path d="M15.2389 30.4056H28.5278V34.5944H15.2389V30.4056Z" fill="#695CBC"/>
        <path d="M36.4722 30.4056H49.7611V34.5944H36.4722V30.4056Z" fill="#695CBC"/>
        <path d="M98.5777 19.1487L107.019 42.982L115.415 19.1487H124.307V52.0098H117.513V43.0272L118.191 27.522L109.321 52.0098H104.671L95.8242 27.5445L96.5013 43.0272V52.0098H89.7305V19.1487H98.5777Z" fill="white"/>
        <path d="M128.776 39.5741C128.776 37.1516 129.242 34.9925 130.175 33.0966C131.108 31.2008 132.447 29.7338 134.192 28.6956C135.953 27.6574 137.991 27.1383 140.309 27.1383C143.604 27.1383 146.29 28.1464 148.366 30.1626C150.457 32.1788 151.623 34.9172 151.864 38.3779L151.909 40.048C151.909 43.7945 150.864 46.8038 148.772 49.0758C146.681 51.3327 143.875 52.4612 140.354 52.4612C136.833 52.4612 134.019 51.3327 131.913 49.0758C129.821 46.8189 128.776 43.7494 128.776 39.8675V39.5741ZM135.298 40.048C135.298 42.3651 135.735 44.1406 136.607 45.3744C137.48 46.5932 138.729 47.2025 140.354 47.2025C141.934 47.2025 143.167 46.6007 144.055 45.397C144.943 44.1782 145.387 42.2373 145.387 39.5741C145.387 37.3021 144.943 35.5417 144.055 34.2928C143.167 33.044 141.919 32.4195 140.309 32.4195C138.714 32.4195 137.48 33.044 136.607 34.2928C135.735 35.5266 135.298 37.445 135.298 40.048Z" fill="white"/>
        <path d="M169.649 33.706C168.761 33.5856 167.979 33.5254 167.302 33.5254C164.834 33.5254 163.217 34.3605 162.449 36.0307V52.0098H155.927V27.5897H162.088L162.269 30.5011C163.578 28.2592 165.391 27.1383 167.708 27.1383C168.43 27.1383 169.107 27.2361 169.739 27.4317L169.649 33.706Z" fill="white"/>
        <path d="M186.034 45.2616C186.034 44.4641 185.636 43.8397 184.838 43.3883C184.056 42.9219 182.792 42.5081 181.046 42.147C175.239 40.9282 172.335 38.4606 172.335 34.7442C172.335 32.5775 173.23 30.772 175.02 29.3275C176.826 27.868 179.181 27.1383 182.085 27.1383C185.184 27.1383 187.659 27.868 189.51 29.3275C191.376 30.787 192.309 32.6829 192.309 35.015H185.786C185.786 34.0822 185.485 33.3148 184.883 32.7129C184.281 32.0961 183.341 31.7876 182.062 31.7876C180.964 31.7876 180.114 32.0359 179.512 32.5324C178.91 33.0289 178.609 33.6609 178.609 34.4282C178.609 35.1504 178.947 35.7373 179.625 36.1886C180.317 36.625 181.475 37.0087 183.1 37.3397C184.725 37.6557 186.094 38.0168 187.208 38.423C190.654 39.6869 192.376 41.8761 192.376 44.9907C192.376 47.2176 191.421 49.0231 189.51 50.4074C187.599 51.7766 185.132 52.4612 182.107 52.4612C180.061 52.4612 178.24 52.1001 176.645 51.3779C175.066 50.6406 173.824 49.64 172.921 48.3761C172.019 47.0972 171.567 45.7205 171.567 44.2459H177.751C177.812 45.4045 178.24 46.2922 179.038 46.9091C179.835 47.526 180.904 47.8345 182.243 47.8345C183.491 47.8345 184.432 47.6013 185.064 47.1348C185.711 46.6533 186.034 46.0289 186.034 45.2616Z" fill="white"/>
        <path d="M205.715 42.7789L210.229 27.5897H217.225L207.408 55.8015L206.866 57.088C205.406 60.2778 202.999 61.8727 199.644 61.8727C198.696 61.8727 197.733 61.7297 196.755 61.4439V56.5011L197.748 56.5237C198.982 56.5237 199.899 56.3356 200.501 55.9595C201.118 55.5833 201.6 54.9589 201.946 54.0862L202.713 52.0775L194.159 27.5897H201.178L205.715 42.7789Z" fill="white"/>
      </svg>
      <div class="username">
        <input type="text" class="username-inp" value="Samuel Morse" disabled="true" minlength="4" maxlength="20">
        <a class="edit-name-btn">Edit</a>
        
      </div>
      <div class="menu-btn-container">
        <a class="invite-btn">Invite</a>  
        <a href="/create/" target="_blank" class="create-btn">Create</a>
      </div>
      

    </div>

    <div class="invite-popup">
      <svg class="invite-close-btn" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.000244141" y="3.83871" width="5.41189" height="35.5834" rx="2.70595" transform="rotate(-45 0.000244141 3.83871)" fill="#695CBC"/>
        <rect x="25.1614" width="5.1" height="35.5834" rx="2.55" transform="rotate(45 25.1614 0)" fill="#695CBC"/>
        </svg>
        
      <h1>Invite Link</h1>
      <div class="invite-link-container">
        <input type="text" readonly="readonly" class="invite-link-box"><div class="copy-invite-btn">
          <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="7.5" y="0.5" width="21" height="21" rx="4.5" stroke="white"/>
            <rect x="0.5" y="4.5" width="21" height="21" rx="4.5" fill="#695CBC" stroke="white"/>
            </svg>
            
        </div>
      </div>
        
    </div>

    <div class="message-view">
      
      <div class="inp-container">
        <input type="text" minlength="1" maxlength="400" class="message-box" tabindex="1"/>
        <div class="send-container">
          <svg
            class="send-btn"
            width="30"
            height="26"
            viewBox="0 0 30 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.9943 11.1196C29.585 11.821 29.585 14.0781 27.9943 14.7795L3.78067 25.457C1.95917 26.2602 0.2104 24.1989 1.29968 22.5326L6.8489 14.0439C7.28352 13.3791 7.28352 12.52 6.8489 11.8552L1.29968 3.36648C0.2104 1.7002 1.95918 -0.361066 3.78068 0.442158L27.9943 11.1196Z"
              fill="#FFFFFF"
            />
          </svg>
          
            
        </div>
        <svg class="file-btn" width="22" height="33" viewBox="0 0 22 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.48139 13.634L6.47921 19.6381C6.47921 19.6381 5.37802 22.9403 8.20661 23.5499C11.0352 24.1596 11.9362 21.4578 11.9362 21.4578L16.2409 8.54921C16.2409 8.54921 18.1429 2.8454 13.7092 1.36684C9.27536 -0.111711 7.71434 5.70583 7.71434 5.70583L2.30846 21.9166C2.30846 21.9166 -0.3351 28.7075 5.46294 30.641C11.261 32.5745 13.9046 25.7836 13.9046 25.7836L18.2092 12.875" stroke="white" stroke-width="2"/>
            
          </svg>
         
            
          <input class="file-input" type="file" name="name" style="display: none"/>
      </div>

      <div class="message-container">
        <h3 class="is-typing-msg"></h3>

        
      </div>
    </div>
  </body>
</html>
