<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script>
        const ROOM_ID = "<%= roomId  %>"
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>

</head>
<body>
    <p class="message-history"></p>
    <input type="text" class="message-box">
    <button class="send-btn">Send</button>
</body>
</html>