/*
Copyright 2021,2022 Carl Marino and Itay Godasevich 


This file is part of Morsy.

Morsy is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.

Morsy is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Morsy. If not, see <https://www.gnu.org/licenses/>.
*/


@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    background-color: #FFFFFF;

}

.menu-bar{
	position: fixed;
	background-color: #FFFFFF;
	height: 10vh;
	width: 100%;
	top:0;
	left:0;
}

.menu-bar .logo{
	position: absolute;
	height: 100%;
	left: 0;
}

.menu-bar .menu-text{
	position: absolute;
	width: fit-content;
	right: 0;
	display: flex;
	align-items: center;
	height: 100%;
}

.menu-bar .menu-text a {
	color: #000000;
	text-decoration: none;
	padding: 3vh 2vh;
}

