/*
Copyright 2021,2022 Carl Marino and Itay Godasevich 


This file is part of Morsy.

Morsy is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.

Morsy is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Morsy. If not, see <https://www.gnu.org/licenses/>.
*/


@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    background-color: #FFFFFF;

}

.menu-bar{
	position: fixed;
	background-color: #FFFFFF;
	height: 10vh;
	width: 100%;
	top:0;
	left:0;
}

.menu-bar .logo{
	position: absolute;
	height: 100%;
	left: 0;
}

.menu-bar .menu-text{
	display: flex;
	flex-direction: row;
	position: absolute;
	width: fit-content;
	right: 0;
	height: 100%;
}

.menu-bar .menu-text a {
	display:flex;
	align-items: center;
	justify-content: center;
	height:100%;
	padding: 0 2vh;
	color: #000000;
	text-decoration: none;
	text-align: center;
	transition: 0.2s ease;
}

.menu-bar .menu-text a p{
	text-align: center;
}


.menu-bar .menu-text a:hover{
	background-color: #E7E8F3;
	transition: 0.2s ease;
}

.main-container {
	width:100%;
	height: 100%;
}

.main-container .main-text{
	display:flex;
	align-self: center;
	height: fit-content;
}
.main-container .main-text h1{
	color:#000000;
	font-size: 10vh;	
}

