/*
Copyright 2021,2022 Carl Marino and Itay Godasevich


This file is part of Morsy.

Morsy is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.

Morsy is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Morsy. If not, see <https://www.gnu.org/licenses/>.
*/

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
}

:root{
    --menu-bar-color: #171821;
    --bg-color: #171821;
    --secondary-color: #242530;
    --accent-color: #9F3FFF;
    --accent-dim: #7335b1;
    --text-color: #ffffff;
    --shadow-color: #21233800;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Roboto;
    z-index: 1;
}

body{
    position: absolute;
    width:100%;
    height: 100%;
}


.is-typing-msg {
    color: var(--text-color); /* change positioning later*/
    position: fixed;
    font-size: 11.5px;
    top: 93.7069%;
    left: 50%;


}
.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--menu-bar-color);
    width: 100%;
    height:7vh;
    z-index: 10;
}

.logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1vh;
    height:5vh;
    width: fit-content;
}

.settings-btn {
    position: absolute;
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    background-color: var(--secondary-color);
    box-shadow: 0vh -1vh 5vh var(--shadow-color);
    right: 1vh;
    top: 1vh;
}

.settings-btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 3vh;
    height: 3vh;
}
.settings-btn svg path{
    stroke: var(--text-color);
}

.create-btn {
    cursor: default;
    position: absolute;
    height: 5vh;
    width: fit-content;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 1vh;
    font-size: 2.5vh;
    color: var(--text-color);
    top: 1vh;
    text-align: center;
    display: flex;
    align-items: center;
    right: 8vh;
    text-decoration: none;
    background-color: var(--secondary-color);
    box-shadow: 0vh -1vh 5vh var(--shadow-color);
}

.invite-btn {
    cursor: default;
    position: absolute;
    height: 5vh;
    width: fit-content;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 1vh;
    font-size: 2.5vh;
    color: var(--text-color);
    top: 1vh;
    text-align: center;
    display: flex;
    align-items: center;
    right: 21vh;
    text-decoration: none;
    background-color: var(--secondary-color);
    box-shadow: 0vh -1vh 5vh var(--shadow-color);
}



.username {
    height: 4vh;
}
.username-inp{
    color: var(--text-color);
    outline: none;
    border: 0.1vh solid var(--secondary-color);
    padding: 1vh;
    border-radius: 0.5vh;
    background-color: #00000000;
    font-size: 2vh;
}


.edit-name-btn{
    padding: 1vh 2vh;
    color: var(--text-color);
    font-size: 2vh;
    cursor: default;
    border-radius: 0.4vh;
    background-color: var(--accent-color);
}
h3.emoji-help-command {
    color: var(--text-color);
    font-family: monospace;
}
h3.emoji-help-command-message {
    color: var(--text-color);

}

.settings-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width:80vh;
    max-width: 90%;
    height:53vh;
    max-height: 90%;
    transform: translate(-50%, -50%);
    background-color: var(--menu-bar-color);
    border:0.3vh solid var(--accent-color);
    border-radius: 0.5vh;
    padding:2vh;
    z-index: 3;
}

.settings-close-btn {
    position: absolute;
    top: 1vh;
    right: 1vh;
}
.settings-container h1{
    color: var(--text-color);
    font-size: 2.5vh;
    margin-bottom: 0.5vh;
    margin-top: 2vh;
}

.settings-container a{
    color: var(--text-color);
    font-size: 2vh;
    height: fit-content;


}

.settings-container .colormode{
    display: flex;
    margin-top: 1vh;
    align-items: center;
    height: fit-content;
}

.settings-container .colormode a{
    margin-right: 3vh;
    margin-left: 0.5vh;
}

.settings-container .colormode svg{
    height: 3vh;
}

.settings-container .colormode svg circle:nth-child(1){
    stroke: var(--text-color);
}


.settings-container .colormode svg circle:nth-child(2){
    fill: none;
}

.settings-container .colormode svg:nth-child(5) circle:nth-child(2){
    fill: var(--accent-color);
}

.switch{
    display: flex;
    background-color: var(--menu-bar-color);
    border: 0.2vh solid var(--secondary-color);
    width: 10vh;
    height: 4vh;
    padding: 0.5vh;
    border-radius: 0.5vh;
    align-items: center;
}

.switch a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: center;
    border-radius: 0.2vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    cursor: default;
}

.typing-indicator-on, .images-on{
    background-color: var(--secondary-color);
}

.invite-popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width:35vh;
    height:15vh;
    transform: translate(-50%, -50%);
    background-color: var(--menu-bar-color);
    border:0.3vh solid var(--accent-color);
    border-radius: 0.5vh;
    padding:2vh;
    z-index: 3;
}

.invite-popup h1{

    font-size: 3.5vh;
    color: var(--text-color);
}

.invite-link-container {
    position: absolute;
    top: 8vh;
    width: 100%;
}

.copy-invite-btn{
    position: absolute;
    width: 5vh;
    height: 4vh;
    background-color: var(--accent-color);
    right: 4.4vh;
    top: 0;
    border-radius: 0vh 0.5vh 0.5vh 0vh;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

.copy-invite-btn svg{
    height: 2.5vh;
    transition: 0.4s ease;
}

.copy-invite-btn:hover {
    background-color: var(--accent-dim);
}
.copy-invite-btn:hover svg rect:nth-child(2) {
    fill: var(--accent-dim);
    transition: 0.4s ease;
}

.invite-popup input{
    background-color: var(--secondary-color);
    height: 4vh;
    width: 25vh;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.5vh;
    border-radius: 0.5vh 0vh 0vh 0.5vh;

}

.invite-close-btn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 2.5vh;

}

.invite-close-btn rect{
    transition: 0.4s ease;
}

.invite-close-btn:hover rect{
    fill: var(--accent-dim);
    transition: 0.4s ease;
}

.message-view{
    position: absolute;
    width: 100%;
    height: calc(100% - 6vh);
    bottom: 0;
    background-color: var(--bg-color);


}



.inp-container input{
    position: absolute;
    width: calc(100% - 9vh);
    padding-left: 2vh;
    padding-right: 3vh;
    border-radius: 1vh;
    height: 80%;
    outline: none;
    font-size: 1.5vh;
    color: var(--text-color);
    bottom: 0.5vh;
    border: none;
    background-color: var(--secondary-color);
    margin-left: 1vh;
    box-shadow: 1vh 1vh 5vh var(--shadow-color);
}

.inp-container{
    position: absolute;
    width: 100%;
    height: 5vh;
    bottom: 0;
    background-color: var(--bg-color);
}

.send-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 2vh;
    height: 2vh;
}

.send-container{
    position: absolute;
    right: 2.5vh;
    top: 50%;
    transform: translateY(-50%);
    width: 4vh;
    height: 4vh;
    background-color: var(--accent-color);
    border-radius: 0.7vh;
    transition: 0.3s ease;
}

.send-container:hover{
    background-color: var(--accent-dim);
    transition: 0.3s ease;
}



.message-container{
    position: absolute;
    width: 100%;
    height: calc(100% - 5vh) !important;
    overflow-y: scroll;
}

.usr-msg{
    margin-right: 2vh;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    max-width: 60%;
    background-color: var(--accent-color);
    padding: 1vh 2vh;
    border-radius: 1.5vh;
    color: #ffffff;
    text-align: right;
    box-shadow: 1vh 1vh 5vh var(--shadow-color);
}

.usr-msg p{
    font-size: 2vh;
    width: 100%;
    word-wrap: break-word;
}

.usr-msg a{
    font-size: 1.5vh;
}

.msg-container{
    width: 100% !important;
    height: fit-content;
    margin-bottom: 1vh;
    margin-top: auto;

}

.peer-msg{
    margin-left: 2vh;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    max-width: 60%;
    background-color: var(--secondary-color);
    padding: 1vh 2vh;
    border-radius: 1.5vh;
    color: var(--text-color);
    text-align: left;
    box-shadow: 1vh 1vh 5vh var(--shadow-color);
}

.peer-msg p{
    font-size: 2vh;
    width: 100%;
    word-wrap: break-word;
}

.peer-msg a{
    font-size: 1.5vh;
}

.usr-msg img{
    width: 40%;
    border-radius: 1vh;
}

.peer-msg img{
    width: 40%;
    border-radius: 1vh;
}

.peer-msg p a, .usr-msg p a{
    font-size: 2vh;
    color: var(--text-color);
    word-wrap: break-word;
}

.file-btn{
    position: absolute;
    height: 2.2vh;
    top: 50%;
    right: 9vh;
    transform: translateY(-50%);
}

.file-btn path{	
    stroke: var(--text-color);
}

.emoji-picker {
    position: absolute;
    height: 2.2vh;
    top: 25%;
    right: 11.8vh;
}

.sysalert{
    width: fit-content;
    max-width: 80%;
    background-color: var(--menu-bar-color);
    opacity: 60%;
    padding: 1.5vh;
    border-radius: 0.5vh;
    margin-top: 1vh;
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
}


.sysalert h1{
    font-size: 2vh;

}

::-webkit-scrollbar {
  width:1.2vh;
}

::-webkit-scrollbar-track {
  background: #FFFFFF00;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 1000vh;
}

